{% extends 'base.html' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, traveler!</h1>

            <p>This is a demo project. A fictional car shop that contains
            a list of car parts, detail page for a certain part and a
            web crawler for new parts to ad to the catalog.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4">
                <h2>Car parts list</h2>

                <p>Page for testing datababe queries, joins etc.</p>
                <p><a class="btn btn-default" href="{% url 'parts_list' %}">View details &raquo;</a>
                </p>
            </div>
            <div class="col-lg-4">
                <h2>Car parts detail</h2>

                <p>View to test rendering speed of a template renderer also
                cost of getting data from the database.</p>
                </p>
            </div>
            <div class="col-lg-4">
                <h2>Web crawler</h2>

                <p>Profile the speed of crawling a web page, processing
                the data and saving it to the database</p>
                </p>
            </div>
        </div>

        <hr>
    </div> <!-- /container -->
{% endblock %}
